flows.json
[
  {
    "id": "187f40c61a3f16af",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "6bdb3806917752e6",
    "type": "mqtt in",
    "z": "187f40c61a3f16af",
    "name": "Temperature",
    "topic": "aslan/temperature",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "60171d43d1c7f82f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 210,
    "y": 220,
    "wires": [["e5cd39a23a20c63b"]]
  },
  {
    "id": "37547264123f5a03",
    "type": "mqtt in",
    "z": "187f40c61a3f16af",
    "name": "Humidity",
    "topic": "aslan/humidity",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "60171d43d1c7f82f",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 200,
    "y": 280,
    "wires": [["664b5ccaf4d0e3e9"]]
  },
  {
    "id": "664b5ccaf4d0e3e9",
    "type": "json",
    "z": "187f40c61a3f16af",
    "name": "",
    "property": "payload.humidity",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 300,
    "wires": [["b04a406834106f35", "141f7b0b5594e267"]]
  },
  {
    "id": "9a5a7072cd317b07",
    "type": "ui_gauge",
    "z": "187f40c61a3f16af",
    "name": "",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "gauge",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": 10,
    "colors": ["#00B500", "#E6E600", "#CA3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 530,
    "y": 300,
    "wires": []
  },
  {
    "id": "e5cd39a23a20c63b",
    "type": "json",
    "z": "187f40c61a3f16af",
    "name": "",
    "property": "payload.temperature",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 200,
    "wires": [["d481a91e77551234", "141f7b0b5594e267"]]
  },
  {
    "id": "b04a406834106f35",
    "type": "ui_gauge",
    "z": "187f40c61a3f16af",
    "name": "",
    "group": "16ce9eab1dace0eb",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "gauge",
    "label": "%",
    "format": "{{msg.payload.humidity}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 530,
    "y": 300,
    "wires": []
  },
  {
    "id": "d481a91e77551234",
    "type": "ui_gauge",
    "z": "187f40c61a3f16af",
    "name": "",
    "group": "16ce9eab1dace0eb",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "gauge",
    "label": "°C",
    "format": "{{msg.payload.temperature}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "diff": false,
    "className": "",
    "x": 530,
    "y": 200,
    "wires": []
  },
  {
    "id": "141f7b0b5594e267",
    "type": "function",
    "z": "187f40c61a3f16af",
    "name": "function 1",
    "func": "const valuet = parseFloat(msg.payload.temperature);\nconst valueh = msg.payload.humidity;\nmsg.payload = {\n    \"metrics\": [{\n        \"name\": \"Temperature\",\n        \"alias\": 22,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": valuet\n    },\n    {\n        \"name\": \"Humidity\",\n        \"alias\": 22,\n        \"datatype\": 9,\n        \"isNull\": false,\n        \"floatValue\": valueh\n    }\n    ],\n    \"seq\": -1\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 240,
    "wires": [["25c52630f42dd874"]]
  },
  {
    "id": "25c52630f42dd874",
    "type": "mqtt out",
    "z": "187f40c61a3f16af",
    "name": "",
    "topic": "spBv1.0/ESIEA/DDATA/raspberry/device_grp10",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "9bc07d5400fdb795",
    "x": 1040,
    "y": 240,
    "wires": []
  },
  {
    "id": "60171d43d1c7f82f",
    "type": "mqtt-broker",
    "name": "",
    "broker": "10.8.128.250",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "16ce9eab1dace0eb",
    "type": "ui_group",
    "name": "Default",
    "tab": "c2b8796b88c868e6",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "9bc07d5400fdb795",
    "type": "mqtt-broker",
    "name": "",
    "broker": "10.8.128.239",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "c2b8796b88c868e6",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
